<form #userpost="ngForm" (ngSubmit)="onSubmit(userpost.value)">
    <div class="mb-3">
        <label  class="form-label">Add User name</label>
        <input  name="name" class="form-control" type="text"  placeholder="Add User name" ngModel>
      </div>
    <div class="mb-3">
        <label  class="form-label">Add email</label>
        <input  name="name" class="form-control" type="text"  placeholder="Add email" ngModel>
      </div>
    <div class="mb-3">
        <label  class="form-label">Add Password</label>
        <input  name="password" class="form-control" type="password"  placeholder="Add Password" ngModel>
      </div>
    <div class="col-sm-10">
      <label  class="form-label">Add carRentType</label>
      <select name="carRentType" class="form-control" (change)="changeUser($event)" ngModel>
        <option>--Select Car Brand --</option>
        <option [value]="data._id"  *ngFor="let data of RentalList">
          {{data.carname.brand.brandname}}
        </option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  